NEO4J_AUTH=neo4j/neo4j
NEO4J_server_logs_debug_enabled=true
NEO4J_server_memory_pagecache_size=2G
NEO4J_server_memory_heap_initial__size=2G
NEO4J_server_memory_heap_max__size=2G
NEO4J_PLUGINS=["graph-data-science", "apoc"]
NEO4J_dbms_security_procedures_allowlist=gds.*, apoc.*
NEO4J_dbms_security_procedures_unrestricted=gds.*, apoc.*
NEO4J_gds_export_location="/export"
